In [2]:
import pandas as pd

In [3]:
# The path to our CSV file
cpi = "semi_clean_2yeardata.csv"

# Read our Kickstarter data into pandas
raw_cpi_df = pd.read_csv(cpi)
raw_cpi_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Attribute,2014,2014Q1,2014M1,2014M2,2014M3,...,2016M7,2016M8,2016M9,2016Q4,2016M10,2016M11,2016M12,2017M1,2017M2,Common Reference Period
0,Brazil,223,"Consumer Price Index, All items, Percentage ch...",PCPI_PC_PP_PT,Value,6.329152227,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Brazil,223,"Consumer Price Index, All items, Percentage ch...",PCPI_PC_PP_PT,Value,NaN,2.124811778,NaN,NaN,NaN,...,NaN,NaN,NaN,0.681450209,NaN,NaN,NaN,NaN,NaN,NaN
2,Brazil,223,"Consumer Price Index, All items, Percentage ch...",PCPI_PC_PP_PT,Value,NaN,NaN,0.550140353,0.689712698,0.920048462,...,0.52001527,0.439992451,0.080012836,NaN,0.2600975,0.180102086,0.299910531,0.380048998,NaN,NaN
3,Brazil,223,"Consumer Price Index, All items, Percentage ch...",PCPI_PC_CP_A_PT,Value,6.329152227,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Brazil,223,"Consumer Price Index, All items, Percentage ch...",PCPI_PC_CP_A_PT,Value,NaN,5.807092002,NaN,NaN,NaN,...,NaN,NaN,NaN,7.044496564,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
raw_cpi_df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'Attribute', '2014', '2014Q1', '2014M1', '2014M2', '2014M3', '2014Q2',
       '2014M4', '2014M5', '2014M6', '2014Q3', '2014M7', '2014M8', '2014M9',
       '2014Q4', '2014M10', '2014M11', '2014M12', '2015', '2015Q1', '2015M1',
       '2015M2', '2015M3', '2015Q2', '2015M4', '2015M5', '2015M6', '2015Q3',
       '2015M7', '2015M8', '2015M9', '2015Q4', '2015M10', '2015M11', '2015M12',
       '2016', '2016Q1', '2016M1', '2016M2', '2016M3', '2016Q2', '2016M4',
       '2016M5', '2016M6', '2016Q3', '2016M7', '2016M8', '2016M9', '2016Q4',
       '2016M10', '2016M11', '2016M12', '2017M1', '2017M2',
       'Common Reference Period'],
      dtype='object')

In [6]:
cpi_df = raw_cpi_df.loc[:,['Country Name', 'Indicator Name', 'Attribute', '2014', '2015','2016']]
# cpi_df
cpi_df["Indicator Name"].unique()
cpi_df = cpi_df.loc[cpi_df['Indicator Name'] == "Consumer Price Index, All items"]
cpi_df = cpi_df.loc[cpi_df['Attribute'] == "Value"]
final_cpi_df = cpi_df.dropna()
final_cpi_df

,Country Name,Indicator Name,Attribute,2014,2015,2016
28,Brazil,"Consumer Price Index, All items",Value,3953.1575,4310.12,4686.786917
49,France,"Consumer Price Index, All items",Value,99.96166667,99.99916667,100.1825
216,Bulgaria,"Consumer Price Index, All items",Value,6557.267697,6550.406614,6498.085301
421,Colombia,"Consumer Price Index, All items",Value,116.7541667,122.58,131.79
475,Canada,"Consumer Price Index, All items",Value,125.1583333,126.5666667,128.375
644,Cote d'Ivoire,"Consumer Price Index, All items",Value,111.9868188,113.3883333,114.2083333
717,Croatia,"Consumer Price Index, All items",Value,107.8666667,100,98.875
1072,Germany,"Consumer Price Index, All items",Value,106.6416667,106.8916667,107.4083333
1211,Gabon,"Consumer Price Index, All items",Value,127.8099909,127.3769768,130.0604367
1227,"China, P.R.: Mainland","Consumer Price Index, All items",Value,113.223125,114.8583333,117.5194583
1527,Greece,"Consumer Price Index, All items",Value,107.3849167,105.520675,104.6494417
1763,"Afghanistan, Islamic Republic of","Consumer Price Index, All items",Value,123.3710663,106.5989832,105.7329811
1819,Guatemala,"Consumer Price Index, All items",Value,116.7291667,119.5175,124.8341667
2048,Cyprus,"Consumer Price Index, All items",Value,128.1833333,123.4108333,98.57083333
2161,Denmark,"Consumer Price Index, All items",Value,99.55,100,100.25
2285,Austria,"Consumer Price Index, All items",Value,109.675,110.6666667,111.7083333
3193,Chile,"Consumer Price Index, All items",Value,104.395,108.935,113.06
3212,Belgium,"Consumer Price Index, All items",Value,100.3391667,100.9025,102.8941667
3273,Czech Republic,"Consumer Price Index, All items",Value,123.15,123.5583333,124.375
3281,Estonia,"Consumer Price Index, All items",Value,196.0083333,195.0433333,195.35
3332,Benin,"Consumer Price Index, All items",Value,112.3625,112.67,111.7141667
3390,"China, P.R.: Hong Kong","Consumer Price Index, All items",Value,97.65,100.575,103
3561,Australia,"Consumer Price Index, All items",Value,106.075,107.675,109.05
4078,"Bahrain, Kingdom of","Consumer Price Index, All items",Value,121.635,123.8725,127.3416667
4474,Fiji,"Consumer Price Index, All items",Value,106.986065,108.4583333,112.65
4552,Dominican Republic,"Consumer Price Index, All items",Value,118.25,119.2275,121.1291667
4888,Belarus,"Consumer Price Index, All items",Value,109.9166667,107.3583333,107.2208333
4954,"China, P.R.: Macao","Consumer Price Index, All items",Value,101.113682,105.7244371,108.23
5242,Ethiopia,"Consumer Price Index, All items",Value,129.6836798,142.7956695,153.1679636
5478,Ghana,"Consumer Price Index, All items",Value,128.9104333,151.0185333,177.3782667
...,...,...,...,...,...,...
20229,San Marino,"Consumer Price Index, All items",Value,107.5766092,107.7333333,108.3516667
20370,Panama,"Consumer Price Index, All items",Value,143.7833333,102.7666667,103.5268667
20486,Martinique,"Consumer Price Index, All items",Value,99.86083333,100,99.755
20591,Maldives,"Consumer Price Index, All items",Value,105.3805001,106.3849941,106.9195887
20773,Kyrgyz Republic,"Consumer Price Index, All items",Value,100.8374601,100.2776707,99.9595169
20851,Tanzania,"Consumer Price Index, All items",Value,149.4691563,152.719116,102.9475481
20930,Switzerland,"Consumer Price Index, All items",Value,101.7818583,100.617575,100.1802833
21199,Turkey,"Consumer Price Index, All items",Value,242.02,260.585,280.8458333
21251,United States,"Consumer Price Index, All items",Value,236.7361667,237.017,240.0071667
21337,United Kingdom,"Consumer Price Index, All items",Value,99.95833333,100.0083333,100.65
21486,Sweden,"Consumer Price Index, All items",Value,313.4925,313.3458333,316.43
21520,Saudi Arabia,"Consumer Price Index, All items",Value,115.7120583,118.2321083,122.35455
21579,Slovenia,"Consumer Price Index, All items",Value,100.5291667,100.0008333,99.94583333
21644,Singapore,"Consumer Price Index, All items",Value,99.98358333,99.46091667,98.9315
21673,Uruguay,"Consumer Price Index, All items",Value,134.41,146.0583333,160.1375
21869,West Bank and Gaza,"Consumer Price Index, All items",Value,109.4236003,110.9901211,110.4149227
21940,South Africa,"Consumer Price Index, All items",Value,87.78333333,91.74166667,97.79166667
22075,Thailand,"Consumer Price Index, All items",Value,100.9077385,99.99914004,100.1872881
22162,Spain,"Consumer Price Index, All items",Value,100.7070833,100.2030833,100
22803,Slovak Republic,"Consumer Price Index, All items",Value,163.9916667,163.4583333,162.6083333
23404,St. Vincent and the Grenadines,"Consumer Price Index, All items",Value,107.675,105.8083333,105.65
23484,Senegal,"Consumer Price Index, All items",Value,103.3693989,103.5091667,104.3758333
23737,Zimbabwe,"Consumer Price Index, All items",Value,100.3958054,97.97676849,96.4537223
24932,Zambia,"Consumer Price Index, All items",Value,141.51,155.8175,183.662025
25201,Tunisia,"Consumer Price Index, All items",Value,120.7833333,126.65,131.35
25354,Swaziland,"Consumer Price Index, All items",Value,108.8223218,114.2103815,123.1727838
25850,"Serbia, Republic of","Consumer Price Index, All items",Value,180.15,182.6583333,184.7083333
25986,Sri Lanka,"Consumer Price Index, All items",Value,105.4833333,109.4583333,113.7916667
26224,Ukraine,"Consumer Price Index, All items",Value,116.975,173.9416667,198.1416667
26387,Sierra Leone,"Consumer Price Index, All items",Value,144.7883333,154.48,171.2925

In [8]:
final_cpi_df.to_excel('final_cpi_data.xls')

In [13]:
happiness2015 = "happiness_2015.csv" 
happiness2015_df = pd.read_csv(happiness2015)
happiness2015_df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [18]:
happy_2015 = happiness2015_df.loc[:,['Country', 'Happiness Rank', 'Happiness Score']]
happy_2015.head()

       Country  Happiness Rank  Happiness Score
0  Switzerland               1            7.587
1      Iceland               2            7.561
2      Denmark               3            7.527
3       Norway               4            7.522
4       Canada               5            7.427

In [ ]:
cpi_happy_2015 = pd.DataFrame.merge(final_cpi_df, happy_2015, on='Country')
cpi_happy_2015